/build
.DS_Store
/nori
/warptest
/ext_build
CMakeCache.txt
CMakeSettings.json
CMakeFiles
Makefile
*.cmake
.ninja_deps
.ninja_log
build.ninja
rules.ninja
.vs
.vscode
/out
*.sublime-workspace
*.sublime-project
*.vcxproj
*.filters
*.sdf
*.sln
*.dir
*.opendb
# *.obj
Debug
x64

dxr/build/

# scenes/
chi_tests/
scenes/a0/
scenes/a1/
scenes/a2/
scenes/a3/
scenes/a4/
scenes/final_scenes/

.exr
.hdr

scenes/final_scene_real/textures/table/semi-gloss-wood_albedo.png

validate_volumetrics.py
make_white_furnace.py
analyze_furnace.py
scripts/